<div class="">

<table>




<tbody>
  <tr class="hdr1">
    <td colspan="3"><strong>POWERTRAIN/CHASSIS</strong></td>
  </tr>
  <tr class="striped responsive-table">
    <td><strong> DRIVETRAIN LAYOUT </strong></td>
    <td>Front-engine, RWD</td>
  </tr>
  <tr class="responsive-table">
    <td><strong> ENGINE TYPE </strong></td>
    <td>90-deg V-8, alum block/heads</td>
  </tr>
  <tr class="striped responsive-table">
    <td><strong> VALVETRAIN </strong></td>
    <td>DOHC, 4 valves/cyl</td>
  </tr>
  <tr class="responsive-table">
    <td><strong> DISPLACEMENT </strong></td>
    <td>315.1 cu in/5,163 cc</td>
  </tr>
  <tr class="striped responsive-table">
    <td><strong> COMPRESSION RATIO </strong></td>
    <td>12.0:1</td>
  </tr>
  <tr class="responsive-table">
    <td><strong> POWER (SAE NET) </strong></td>
    <td>526 hp @ 7,500 rpm</td>
  </tr>
  <tr class="striped responsive-table">
    <td><strong> TORQUE (SAE NET) </strong></td>
    <td>429 lb-ft @ 4,750 rpm</td>
  </tr>
  <tr class="responsive-table">
    <td><strong> REDLINE </strong></td>
    <td>8,250 rpm</td>
  </tr>
  <tr class="striped responsive-table">
    <td><strong> WEIGHT TO POWER </strong></td>
    <td>6.9 lb/hp</td>
  </tr>
  <tr class="responsive-table">
    <td><strong> TRANSMISSION </strong></td>
    <td>6-speed manual</td>
  </tr>
  <tr class="striped responsive-table">
    <td><strong> AXLE/FINAL-DRIVE RATIO </strong></td>
    <td>3.73:1/2.35:1</td>
  </tr>
  <tr class="responsive-table">
    <td><strong> SUSPENSION, FRONT; REAR </strong></td>
    <td>Struts, coil springs, adj shocks, anti-roll bar; multi-link, coil springs, adj shocks, anti-roll bar</td>
  </tr>
  <tr class="striped responsive-table">
    <td><strong> STEERING RATIO </strong></td>
    <td>16.5:1</td>
  </tr>
  <tr class="responsive-table">
    <td><strong> TURNS LOCK-TO-LOCK </strong></td>
    <td>2.6</td>
  </tr>
  <tr class="striped responsive-table">
    <td><strong> BRAKES, F;R </strong></td>
    <td>15.5-in vented, drilled disc; 12.6-in vented, drilled disc, ABS</td>
  </tr>
  <tr class="responsive-table">
    <td><strong> WHEELS </strong></td>
    <td>11.0 x 19-in; 11.5 x 19-in, carbon-fiber</td>
  </tr>
  <tr class="striped responsive-table">
    <td><strong> TIRES </strong></td>
    <td>305/30ZR19 98Y; 315/30ZR19 100Y Michelin Pilot Sport Cup 2</td>
  </tr>
  <tr class="hdr1">
    <td colspan="3"><strong>DIMENSIONS</strong></td>
  </tr>
  <tr class="striped responsive-table">
    <td><strong> WHEELBASE </strong></td>
    <td>107.1 in</td>
  </tr>
  <tr class="responsive-table">
    <td><strong> TRACK, F/R </strong></td>
    <td>63.3/63.7 in</td>
  </tr>
  <tr class="striped responsive-table">
    <td><strong> LENGTH x WIDTH x HEIGHT </strong></td>
    <td>189.7 x 75.9 x 53.6 in</td>
  </tr>
  <tr class="responsive-table">
    <td><strong> TURNING CIRCLE </strong></td>
    <td>40.4 ft</td>
  </tr>
  <tr class="striped responsive-table">
    <td><strong> CURB WEIGHT </strong></td>
    <td>3,650 lb (mfr)</td>
  </tr>
  <tr class="responsive-table">
    <td><strong> WEIGHT DIST., F/R </strong></td>
    <td>54/46 %</td>
  </tr>
  <tr class="striped responsive-table">
    <td><strong> SEATING CAPACITY </strong></td>
    <td>2</td>
  </tr>
  <tr class="responsive-table">
    <td><strong> HEADROOM, F/R </strong></td>
    <td>37.6/ – in</td>
  </tr>
  <tr class="striped responsive-table">
    <td><strong> LEGROOM, F/R </strong></td>
    <td>44.5/ – in</td>
  </tr>
  <tr class="responsive-table">
    <td><strong> SHOULDER ROOM, F/R </strong></td>
    <td>56.3/ – in</td>
  </tr>
  <tr class="striped responsive-table">
    <td><strong> CARGO VOLUME </strong></td>
    <td>13.5 cu ft</td>
  </tr>
  <tr class="hdr1">
    <td colspan="3"><strong>TEST DATA</strong></td>
  </tr>
  <tr class="responsive-table">
    <td colspan="3"><strong> ACCELERATION TO MPH </strong></td>
  </tr>
  <tr class="striped responsive-table">
    <td><strong> 0-30 </strong></td>
    <td>1.6 sec</td>
  </tr>
  <tr class="responsive-table">
    <td><strong> 0-40 </strong></td>
    <td>2.3</td>
  </tr>
  <tr class="striped responsive-table">
    <td><strong> 0-50 </strong></td>
    <td>3.0</td>
  </tr>
  <tr class="responsive-table">
    <td><strong> 0-60 </strong></td>
    <td>3.9</td>
  </tr>
  <tr class="striped responsive-table">
    <td><strong> 0-70 </strong></td>
    <td>4.8</td>
  </tr>
  <tr class="responsive-table">
    <td><strong> 0-80 </strong></td>
    <td>5.9</td>
  </tr>
  <tr class="striped responsive-table">
    <td><strong> 0-90 </strong></td>
    <td>7.2</td>
  </tr>
  <tr class="responsive-table">
    <td><strong> 0-100 </strong></td>
    <td>8.5</td>
  </tr>
  <tr class="striped responsive-table">
    <td><strong> PASSING, 45-65 MPH </strong></td>
    <td>1.7</td>
  </tr>
  <tr class="responsive-table">
    <td><strong> QUARTER MILE </strong></td>
    <td>12.1 sec @ 119.6 mph</td>
  </tr>
  <tr class="striped responsive-table">
    <td><strong> BRAKING, 60-0 MPH </strong></td>
    <td>96 ft</td>
  </tr>
  <tr class="responsive-table">
    <td><strong> LATERAL ACCELERATION </strong></td>
    <td>1.09 g (avg)</td>
  </tr>
  <tr class="striped responsive-table">
    <td><strong> MT FIGURE EIGHT </strong></td>
    <td>23.3 sec @ 0.87 g (avg)</td>
  </tr>
  <tr class="responsive-table">
    <td><strong> 2.7-MI ROAD COURSE LAP </strong></td>
    <td>117.87 sec</td>
  </tr>
  <tr class="striped responsive-table">
    <td><strong> TOP-GEAR REVS @ 60 MPH </strong></td>
    <td>1,800 rpm</td>
  </tr>
  <tr class="hdr1">
    <td colspan="3"><strong>CONSUMER INFO</strong></td>
  </tr>
  <tr class="responsive-table">
    <td><strong> BASE PRICE </strong></td>
    <td>$63,495</td>
  </tr>
  <tr class="striped responsive-table">
    <td><strong> PRICE AS TESTED </strong></td>
    <td>$66,970</td>
  </tr>
  <tr class="responsive-table">
    <td><strong> STABILITY/TRACTION CONTROL </strong></td>
    <td>Yes/Yes</td>
  </tr>
  <tr class="striped responsive-table">
    <td><strong> AIRBAGS </strong></td>
    <td>Dual front, front side, f/r curtain, front knee</td>
  </tr>
  <tr class="responsive-table">
    <td><strong> BASIC WARRANTY </strong></td>
    <td>3 yrs/36,000 miles</td>
  </tr>
  <tr class="striped responsive-table">
    <td><strong> POWERTRAIN WARRANTY </strong></td>
    <td>3 yrs/36,000 miles</td>
  </tr>
  <tr class="responsive-table">
    <td><strong> ROADSIDE ASSISTANCE </strong></td>
    <td>3 yrs/36,000 miles</td>
  </tr>
  <tr class="striped responsive-table">
    <td><strong> FUEL CAPACITY </strong></td>
    <td>16.0 gal</td>
  </tr>
  <tr class="responsive-table">
    <td><strong> EPA CITY/HWY/COMB ECON </strong></td>
    <td>14/21/16 mpg</td>
  </tr>
  <tr class="striped responsive-table">
    <td><strong> ENERGY CONS., CITY/HWY </strong></td>
    <td>241/160 kW-hrs/100 miles</td>
  </tr>
  <tr class="responsive-table">
    <td><strong> CO2 EMISSIONS </strong></td>
    <td>1.18 lb/mile</td>
  </tr>
  <tr class="striped responsive-table">
    <td><strong> RECOMMENDED FUEL </strong></td>
    <td>Unleaded premium</td>
  </tr>
</tbody>
</table>
</div>
